* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: white;
}

.noscroll {
    height: 100%;
    overflow-y: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 10px 20px;
}

.navbar .logo a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

.nav-links a:hover {
    background-color: #575757;
    border-radius: 4px;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    top: 0;
    left: 0;
    z-index: -1;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 150px); /* 3 columns, each 200px wide */
    gap: 20px; /* Space between grid items */
    justify-items: center;
    align-items: center;
}

.grid-item {
    margin-bottom: 52px;
    width: 150px;
    height: 150px;
    display: flex;
    background-size: 150px 150px;
    justify-content: center;
    color: white;
    font-size: 24px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease-out;
    opacity: 1;
    cursor: pointer;
}

.grid-item.fade-out {
    opacity: 0;
    transform: scale(0.9);
}

.grid-item:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    background-color: #444;
}

.subtext {
    margin-top: 152px;
}

.grid-wrapper {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo {
    font-weight: 900;
}

.searchbar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.searchbar {
    padding: 10px;
    width: 300px;
    font-size: 18px;
    border-radius: 7px;
    border: 2px solid #000000;
    background-color: white;
    outline: none;
    transition: border-color 0.3s;
    transition: transform 0.3s;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.searchbar:hover {
    background-color: #d1d1d1;
    color: #000000;
    transform: scale(1.05);
}

.wrapper {
    justify-content: center;
    display: flex;
    place-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

.large { 
    font-size: 60px;
    font-weight: bold;
}

.inputfield { 
    border: 0; 
    border-radius: 10px; 
    box-sizing: border-box; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    padding-left: 10px; 
    border: 2px solid #000000;
    background-color: white;
    outline: none;
    transition: border-color 0.3s;
    transition: transform 0.3s; 
    width: 200px; 
    height: 35px;
    outline: 0;
}

.inputfield:hover {
    background-color: #d1d1d1;
    color: #000000;
    transform: scale(1.05);
}


.typewriter {
    margin-top: 75px;
    width: 12.5ch;
    animation: typing 1.75s steps(12), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 6px solid;
    font-family: monospace, monospace;
    font-size: 3em;
}
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
}

#message {
    margin-top: 0px;
    margin-left: 310px;
    color: yellow;
    animation: fadeIn 5s 2.5s forwards, splash 1s 2.5s infinite ease-in-out;
    opacity: 0%;
}


@keyframes splash {
    0% {
        transform: scale(1) rotate(-15deg);;
    }
    50% {
        transform: scale(1.1) rotate(-15deg);;
    }
    100% {
        transform: scale(1) rotate(-15deg);;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#gamsButton {
    opacity: 0%;
    margin-top: 135px;
    background-color: white;
    border: none;
    color: black;
    padding: 12px 27px;
    font-family: "Lato";
    font-weight: 600;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
    font-size: 20px;
    transition: border-color 0.3s;
    transition: transform 0.3s;
    animation: fadeIn 5s 4s forwards
}

#gamsButton:hover {
    background-color: #d1d1d1;
    color: #000000;
    transform: scale(1.05);
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical centering */
    align-items: center;     /* horizontal centering */
    height: 40vh;           /* full viewport height */
    text-align: center;      /* center text inside each element */
    color: white;      
}